.features-header {
  text-align: center;
  margin-bottom: 40px;
}


.features-header-text {
  margin-bottom: 20px;
}

.about-left img {
  height: 50vh;
  border-radius:20px;

}
.about-left img:hover {
  box-shadow: 0 10px 15px var(--shadow-color);
  transform: scale(1.03);
}

/* .about-right{
  padding-bottom: 20vh;
} */
.about-right h2 {
  padding: 10px 0;
}
.about-right p {
  padding: 10px 0;
}
.about-right a {
  color: #7c3aed;
}
